<ion-view title="Manage Accounts" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="row">
      <div class="col">
        <center>
          <a ui-sref="menu.adminmodifyexisting">
            <div class="ion-ios-compose-outline" style="font-size: 100px"></div>
            <h1>Manage</h1>
          </a>
        </center>
      </div>
      <div class="col">
        <center>
          <a ui-sref="menu.admincreateaccount">
            <div class="ion-ios-plus-outline" style="font-size: 100px"></div>
            <h1>Create</h1>
          </a>
        </center>
      </div>
    </div>
  </ion-content>
</ion-view>
