<ion-view title="AssetMapper" id="map">

        <ion-content padding="false" class="has-header" scrolling="false">
        <link rel="stylesheet" href="../css/style.css"/>
        <link href="../lib/ion-floating-menu/dist/ion-floating-menu.css" rel="stylesheet" type="text/css"/>

        <!-- Search Bar -->

        <!-- IT'S THE MAP!!! -->
        <div data-tap-disabled="true">
        <div id="mapid">

          <ion-floating-menu menu-color="#F58120" menu-open-color="#ED8923">

            <ion-floating-item button-color="#FF9326" icon="ion-settings" click="myEvent()" ui-sref="menu.settings" text="Settings"></ion-floating-item>
            <!-- <ion-floating-item button-color="#FF9326" icon="ion-person" click="myEvent()" ui-sref="menu.businessprofile" text="Profile"></ion-floating-item> -->
            <ion-floating-item button-color="#FF9326" icon="ion-help" click="myEvent()" ui-sref="menu.help" text="Help"></ion-floating-item>
            <!--<ion-floating-item button-color="#FF9326" icon="ion-android-exit" click="myEvent()" ui-sref="menu.userlogin" text="Logout"></ion-floating-item>
            <ion-floating-item button-color="hsla(255, 7%, 75%, 0.74)" icon="ion-briefcase" click="myEvent()" ui-sref="menu.providermainview" text="Provider Management"></ion-floating-item>
            <ion-floating-item button-color="hsla(255, 7%, 75%, 0.74)" icon="ion-briefcase" click="myEvent()" ui-sref="menu.adminaccountmanagement" text="Admin Panel"></ion-floating-item>

            <ion-floating-item button-color="hsla(255, 7%, 75%, 0.74)" icon="ion-briefcase" click="myEvent()" ui-sref="menu.moderator-home" text="Moderator Panel"></ion-floating-item>

            <ion-floating-item button-color="hsla(255, 7%, 75%, 0.74)" icon="ion-person" click="myEvent()" ui-sref="menu.userprofile" text="User Profile"></ion-floating-item> -->



          </ion-floating-menu>

         </div>
        </div>
    </ion-content>


</ion-view>
