<ion-view title="AssetMapper" id="page1">

    <ion-content padding="true" class="has-header" scrolling="false">
        <link rel="stylesheet" href="../css/style.css"/>
        <link href="../lib/ion-floating-menu/dist/ion-floating-menu.css" rel="stylesheet" type="text/css"/>

        <!-- Search Bar -->


        <!-- IT'S THE MAP!!! -->
        <div id="mapid">

          <ion-floating-menu menu-color="#F58120" menu-open-color="#ED8923">

            <ion-floating-item button-color="#FF9326" icon="ion-settings" click="myEvent()" ui-sref="menu.settings" text="Settings"></ion-floating-item>
            <ion-floating-item button-color="#FF9326" icon="ion-person" click="myEvent()" ui-sref="menu.businessprofile" text="Profile"></ion-floating-item>
            <ion-floating-item button-color="#FF9326" icon="ion-android-exit" click="myEvent()" ui-sref="menu.userlogin" text="Logout"></ion-floating-item>
          </ion-floating-menu>
        </div>

    </ion-content>



</ion-view>
