<ion-view title="AssetMapper" id="page1">
    <ion-content padding="true" class="has-header" scrolling="false">
        <link rel="stylesheet" href="../css/style.css"/>
        <link href="../lib/ion-floating-menu/dist/ion-floating-menu.css" rel="stylesheet" type="text/css"/>

        <form id="home-form1" class="list">
            <label class="item item-input" name="SearchBar">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search...">
            </label>
        </form>

        <!-- IT'S THE MAP!!! -->
        <div id="mapid">

          <ion-floating-menu menu-color="#F58120" menu-open-color="#ED8923">

            <ion-floating-item button-color="#FF9326" icon="ion-settings" click="myEvent()" ui-sref="menu.settings">Lit city</ion-floating-item>
            <ion-floating-item button-color="#FF9326" icon="ion-person" click="myEvent()" ui-sref="menu.businessprofile">Cool</ion-floating-item>
          </ion-floating-menu>
        </div>

    </ion-content>



</ion-view>
