<ion-view title="Login" hide-nav-bar="true" id="page10">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="login-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:18px;">Log in as</p>
    </div>
    <form id="login-form2" class="list">
      <ion-radio id="login-radio2">User</ion-radio>
      <ion-radio id="login-radio3">Resource Provider</ion-radio>
      <ion-radio id="login-radio4">Moderator</ion-radio>
      <ion-radio id="login-radio1">Administrator</ion-radio>
    </form>
    <button id="login-button7" class="button button-royal  button-block">Login</button>
  </ion-content>
</ion-view>