<ion-view title="User Profile" id="userProfile" style="background-color:0;">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="userProfile-card24">
      <ion-item class="item-avatar" id="userProfile-list-item12">
        <img src="img/uFNH1r5lT3azKoz51KNe_makehistory.jpg">
        <h2>Harry Potter</h2>
        <p>User and Reviewer</p>
      </ion-item>
      <div class=" item item-image">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/10/a4/7f/10a47fd8bdf2dd1bfc0cd2db1aa5daa1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="userProfile-list-item-container5">
        <div id="userProfile-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Some friendly
            <strong>markdown</strong>
          </p>
        </div>
      </div>
      <ion-item class="item-icon-left assertive" id="userProfile-list-item13">
        <i class="icon ion-edit"></i>Edit Profile</ion-item>
    </div>
  </ion-content>
</ion-view>
