<ion-view title="Login" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="signup-form1" class="list">
      <ion-list id="signup-list1">
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="signup-button3" class="button button-balanced  button-block">Login</button>
    </form>
  </ion-content>
</ion-view>
