<ion-view title="<Business-Name>" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Mead_Hall_Drew_U_jeh.jpg/220px-Mead_Hall_Drew_U_jeh.jpg">
        </ion-thumbnail>
        <h2>Property A</h2>
        <p>36 Madison Avenue • Created 2 months ago</p>
        <div align="right"><ion-button color="secondary" item-right ui-sref="menu.providerpropertyedit">Edit</ion-button></div>
      </ion-item>

      <ion-item>
        <ion-thumbnail item-left>
          <img width="220px" src="https://upload.wikimedia.org/wikipedia/commons/2/2b/200_West_Street.jpg">
        </ion-thumbnail>
        <h2>Property B</h2>
        <p>200 West Street • Created 1 year ago</p>
        <div align="right"><ion-button color="secondary" item-right ui-sref="menu.providerpropertyedit">Edit</ion-button></div>
      </ion-item>
    </ion-list>
    <button ui-sref="menu.providercreatenew" class="button button-balanced  button-block">Add New Resource</button>
  </ion-content>
</ion-view>
