<ion-view title="Create New Resource" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="signup-form1" class="list">
      <ion-list id="signup-list1">
        <label class="item item-input" id="signup-input1">
          <span class="input-label">Name</span>
          <input type="text" >
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="text" >
        </label>
        <label class="item item-input" id="signup-input2">
          <span class="input-label">Phone Number</span>
          <input type="tel" >
        </label>
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Hours</span>
          <input type="text" height="400px" >
        </label>
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Address</span>
          <input type="text" >
        </label>
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Description</span>
          <input type="text" height="400px" >
        </label>

      </ion-list>
      <button class="button button-balanced  button-block">Add Resource</button>
    </form>
  </ion-content>
</ion-view>
