<ion-view title="Administrator Home" hide-nav-bar="true" hide-back-button="true" id="admin-home">
  <ion-content padding="false" class="manual-ios-statusbar-padding" scroll="false">
    <a href="#" onclick="window.open('admin-account-management', '_system', 'location=yes'); return false;" id="admin-home-accounts-button" style="font-weight:500;color:#000000;font-size:20px;" class="button button-calm button-large button-block icon-left ion-android-people">Accounts</button>
    <a href="#" onclick="window.open('admin-account-management', '_system', 'location=yes'); return false;" id="admin-home-resource-providers-button" style="font-weight:500;color:#000000;font-size:20px;" class="button button-balanced button-large button-block icon-left ion-android-pin">Resource Providers</a>
  </ion-content>
</ion-view>
