<ion-view title="Modify <Name>" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2>My Neighbor Totoro</h2>
        <p>Moderator • Created 2 months ago</p>
        <button clear item-right ui-sref="menu.adminmodifyuser">Edit</button>
      </ion-item>

      <ion-item>
        <ion-thumbnail item-left>
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/thumbnail-rotla.png">
        </ion-thumbnail>
        <h2>User Two</h2>
        <p>Administrator • Created 5 days ago</p>
        <button clear item-right ui-sref="menu.adminmodifyuser">Edit</button>
      </ion-item>
    </ion-list>
    <button ui-sref="menu.admincreateaccount" class="button button-balanced  button-block">Create New Account</button>
  </ion-content>
</ion-view>
