<ion-view title="Modify <Name>" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="signup-form1" class="list">
      <ion-list id="signup-list1">
        <label class="item item-input" id="signup-input1">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Existing Name">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Existing Email">
        </label>
        <label class="item item-input" id="signup-input2">
          <span class="input-label">Username</span>
          <input type="text" placeholder="Existing Username">
        </label>
        <label class="item item-input" id="signup-input3">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Existing Password">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Current Role: <\Current role variable\>
          </div>
          <select>
            <!-- Add in option to have existing role pre-selected -->
            <option>Standard User</option>
            <option>Moderator</option>
            <option>Administrator</option>
          </select>
        </label>
      </ion-list>
      <button class="button button-block">Save Changes</button>
    </form>
  </ion-content>
</ion-view>
